<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <!-- Si la instancia de SQL se llama distinto, hay que cambiarla aqui -->
    <add name="TallerReparaciones"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TallerReparaciones;Integrated Security=True;TrustServerCertificate=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <sessionState mode="InProc" timeout="30" />
    <authentication mode="None" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>

</configuration>
